---
import SizeSwitch from './SizeSwitch.astro';
---
<header class="masthead">
  <div class="masthead-inner">
    <span class="masthead-brand">Lecturas</span>
    <span class="masthead-meta">
      <span class="masthead-meta-text">A personal reader · 2026</span>
      <SizeSwitch />
    </span>
  </div>
</header>
